<app-banner></app-banner>

<section class="section container d-flex">
  <div class="product rounded-4 p-2 d-flex flex-column">
    <figure class="d-flex justify-content-center mb-0">
      <img
        src="assets/1-HP Probook 450 G9 - Intel® Core™ i5-1235U -.jpg"
        width="150"
        class="mw-100"
      />
    </figure>
    <h5 class="card-title mb-2 text-center">Card title</h5>
    <div class="card-text mb-1 mt-auto d-flex justify-content-around">
      <span class="text-primary fw-bold">{{ "676" | currency }}</span>
      <span class="stock fw-bold">5</span>
    </div>
    <button href="" class="btn px-2 py-2 rounded-1 w-25 mx-auto">Buy</button>
  </div>
</section>
