.product {
  min-width: 200px;
  max-width: 20%;
  min-height: 330px;
  background-color: white;
  box-shadow: 0 0 10px 1px #ddd;
  transition: 0.5s;
}

.product:hover {
  box-shadow: 0 0 10px 10px #ddd;
}

@media (max-width: 767px) {
  .product {
    max-width: 100%;
  }
}

.stock {
  background-color: #ddd;
  padding: 0 5px;
  border-radius: 3px;
}

.btn {
  text-transform: capitalize;
  background-color: var(--primary-color);
  color: var(--light-color);
}
